<h1>Tasks - test3</h1>
<hr />
<div id="app"></div>

<!-- -->
<script type="text/babel">
class HelloMessage extends React.Component {
    render() {
        return (
            <div>
                <h1>AAA</h1>
                <p>Hello World, 123bbb</p>
            </div>
        );
    }
}
ReactDOM.render(<HelloMessage />, document.getElementById('app'));
</script>
